@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    width: 90%;
    
    
}
html {
    scroll-behavior: smooth;
}

body {
    background: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #eaeaea;
    box-shadow: 3px, 3px, 5px, rgba(0, 0, 0, 0);
    height: 50px;
    
}

.logo {
    font-size: 30px;
    color: #222;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #1743e3;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
    
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
}

.social-media a:hover {
    border-color: blue;
}

.social-media a i {
    font-size: 24px;
    color: blue;
    transform: rotate(-45deg);
}

.flex-container {
    display: flex;
    flex-direction: row;
    top: 150px;
    left: 15px;
    background-color: #eaeaea;
    height: 400px;
    width: 122%;
    position: relative;
  }

.title {
    position: relative;
    right: 60px;
}

/* input box -------------------------- */

.inputBox {
    width: 250px;
    position: relative;
    bottom: -25px;
    left: 70px;
    padding: 15px;

   
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: #eaeaea;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    transition: 0.5s;
    
}

.inputBox span {
    position: absolute;
    left: 7px;
    padding: 10px;
    pointer-events: none;
    font-size: 0.90em;
    color: #8c8c8c;
    text-transform: uppercase;   
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: black;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65rem;
    padding: 0px 10px;
    background: #eaeaea;
    border-left: 0 solid black;
    border-right: 0 solid black;
    letter-spacing: 0.2em;
}



.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #8c8c8c;
}

/* ------ h1,p-------*/
.title{
    flex-grow: 1; 
    align-self: center
}
.title h1 {
    font-size: 40px;
    line-height: 1.2;   
}
.description p {
    text-align: justify;
    text-align-last: left;
    line-height: 1.2;
    
}




/*----button----*/
button {
    position: relative;
    top: 30px;
    left: 80px;
    outline: none;
    width: 13rem;
    height: 4rem;
    background-color: #fff;
    color: #10439F;
    border-radius: 4rem;
    text-align: center;
    border: 0.2rem solid #10439F;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.2rem;
    transition: all 0.2s ease;

    &:hover {
        color: #10439F;
        background-color: #10439F;
    }
    &:active {
        letter-spacing: 0.2rem;
    }
    &::before {
        content: "SUBMIT";
    }
}




.effect1 {
    width: 4rem;
    border-color: rgb(143, 137, 137);
    border-width: 0.3rem;
    border-right-color: #10439F;
    animation: rotate 1s linear infinite;
    font-size: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(250deg);
    }
}

.effect2 {
    background-color: #10439F;
    &::before {
        content: "\f00c";
        font-family: "FontAwesome";
        color: #fff;
        font-size: 1.5rem;
    }
}

/* about us ----------*/

.about-us {
    font-size: 1.5rem;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 60px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    
    
    
}

/* flex box ------------------ */

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 300px;
    margin-left: 200px;

}

.card {
    width: 315px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}

.card:hover {
    transform: translateY(-20px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h1 {
    font-size: 2px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}

/*.card-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
}*/

.extra {
    display: none;
}
p {
    display: inline;
}
input[type="checkbox"] {
    height: 2em;
    display: block;
    appearance: none;
}
label {
    position: relative;
    padding: 1em;
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
}
label:before {
    content: "Read More";
}
input[type="checkbox"]:checked ~ label:before
{
    content: "Read Less";
}
.dots:has(~input[type="checkbox"]:checked) {
    display: none;
}
.extra:has(~input[type="checkbox"]:checked) {
    display: inline;
}


/* tutorial ------------------- */

.tutorial {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 150px;
}

.box {
    width: 600px;
}

.tutorial-title {
    font-size: 1.5rem;
    text-align: center;
    margin-left: 250px;
    margin-bottom: 60px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    
}
